.grid__col--9 ul {
	@include flexbox;
	padding: 0;
	@include for-tablet-only {    
      flex-wrap: nowrap;
	  width: 60%;
   }
}

.grid__col--9 nav {
	@include for-tablet-only { 
		display: flex;
		justify-content: flex-end;
   }
}

.nav__item {
	@include nav-button;
	@include flexbox;		
}